[Container]
Pod = chat.pod

AutoUpdate = registry
Image = ghcr.io/element-hq/dendrite-monolith

SecurityLabelDisable = true
Volume = ./dendrite:/etc/dendrite:ro

[Service]
Restart = on-failure
